$base-color: orange;

@mixin background {
    background-color: $base-color;
}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin ring {
    color: $base-color;
    border: 5px solid;
    border-radius: 100%;
    width: 70px;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

@mixin boucle {
    @include ring;
    @for $i from 1 through 6 {
        .content-#{$i} {
        width: $i * 10px;
        height: $i * 10px;
        }
    }
}

body {
    background-color: lighten($base-color, 45);
}

header {
    @include background;
}

footer {
    @include background;
}

div {
    @include row;
        .content {
            @include ring;
        }
}

div1 {
    @include row;
        .content {
            @include ring;
            border: 10px solid;
            width: 200px;
            height: 200px;
        }
}

div2 {
    @include column;
        .content {
            @include row;
            @include boucle;
            border: 3px solid;
        }
}


